


.font{
	
	font-family: 'Indie Flower', cursive;
}

.Tony{
	font-family: 'Roboto Mono', monospace;
}

.chicken{
	font-family: 'Indie Flower', cursive;
}

.list{
color: purple;

}

h1{
	color: green;
	font-family: 'Indie Flower', cursive;
}

p{
	color: blue;
	font-family: 'Liu Jian Mao Cao', cursive;
}

h3{
	color: purple;
}

#thingy { 
	color: #db1e18 
}
#link { color: #10de3c 
}
	#textcolor {color: #db18be
	}
	











